code/client_secrets.json
code/API_keys.json
data/searchData.csv
data/sampleQueries.csv
data/concreteness_data.xlsx
code/google_service_account.json
code/google_service_account_old.json
data/YahooWebScope
code/test.html
data/YahooWebScope.tgz
Data/
